<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="%CONFIG_CHARSET%">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- %CONF_METATAGS% begin -->
        <meta name="%NAME%" content="%CONTENT%"><!-- %CONF_METATAGS% end -->
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>%CONFIG_TITLE%</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="makeup/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="makeup/vendor/components/font-awesome/css/font-awesome.min.css">
        <!-- %CONF_CSS_FILES% begin -->
        <link href="%FILE%" rel="stylesheet"><!-- %CONF_CSS_FILES% end -->

        <!-- %CONF_JS_FILES_HEAD% begin -->
        <script type="text/javascript" src="%FILE%"></script>
        <!-- %CONF_JS_FILES_HEAD% end -->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="makeup/res/js/html5shiv.min.js"></script>
        <script src="makeup/res/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body<!-- %BODY_ONLOAD% begin --> onload="%ONLOAD%"<!-- %BODY_ONLOAD% end -->>
        %LAYOUT%
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="makeup/vendor/components/jquery/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="makeup/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- %CONF_JS_FILES_BODY% begin -->
        <script type="text/javascript" src="%FILE%"></script><!-- %CONF_JS_FILES_BODY% end -->
    </body>
</html>