<!DOCTYPE html>
<html lang="%CONFIG_LANG%">
    <head>
        %CONF_METATAGS%
        
        %TITLE%

        <!-- Bootstrap -->
        <link rel="stylesheet" href="makeup/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="makeup/vendor/components/font-awesome/css/font-awesome.min.css">
        
        %CONF_CSS_FILES%

        %CONF_JS_FILES_HEAD%

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="makeup/res/js/html5shiv.min.js"></script>
        <script src="makeup/res/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        %LAYOUT%
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="makeup/vendor/components/jquery/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="makeup/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
        
        %CONF_JS_FILES_BODY%
    </body>
</html>