# Ignore folders
/.idea/
/.sass-cache/

/makeUp/modules/Test/
/makeUp/users.txt

/public/node_modules/
/node_modules/
/public/package-lock.json
/nbproject/private/

/makeUp/.phpunit.result.cache
makeUp/.phpunit.result.cache

node_modules
makeUp/users.txt
