# Ignore folders
/.idea/
/.sass-cache/

/makeup/modules/Test/
/makeup/users.txt

/public/node_modules/
/node_modules/
/public/package-lock.json
/nbproject/private/

/makeup/.phpunit.result.cache
makeup/.phpunit.result.cache

node_modules
makeup/users.txt
