# Ignore folders
/.idea/
/.vscode/
/.sass-cache/
/makeup/node_modules/
/public/vendor/
/public/node_modules/
/makeup/modules/test/

# Ignore files
/makeup/composer.lock
/makeup/composer.json
/public/package-lock.json
