<div class="dropdown-menu" aria-labelledby="dropdown01">
    <!-- {{SUBMENU_NO_SUB}} --><a class="dropdown-item [[ACTIVE]]" onclick="setRoute(this, '[[MOD_NAME]]', '[[LINK]]'); return false;">[[ICON]] [[TEXT]]</a><!-- {{SUBMENU_NO_SUB}} -->
    <!-- {{SUBMENU_HAS_SUB}} --><a onclick="setRoute(this, '[[MOD_NAME]]', '[[LINK]]'); return false;" class="dropdown-item" style="pointer-events: none; white-space: nowrap;" data-toggle="dropdown">[[ICON]] [[TEXT]]</a>[[SUBMENU]]<!-- {{SUBMENU_HAS_SUB}} -->
</div>
<!-- {{SEPARATOR}} --><div class="dropdown-divider"></div><!-- {{SEPARATOR}} -->
<!-- {{HEADER}} --><h6 class="dropdown-header">[[TEXT]]</h6><!-- {{HEADER}} -->
<!-- {{OI_ICON}} --><span class="fas fa-[[NAME]]" title="[[NAME]]" aria-hidden="true"></span>&nbsp;<!-- {{OI_ICON}} -->