# Options +FollowSymlinks
RewriteEngine on
RewriteBase /

# if requested URL is NOT a existing file
RewriteCond %{REQUEST_FILENAME} !-f [OR]
# or if requested URL is NOT a directory
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite mod parameter.
# E.g. ?mod=members => members.html
RewriteRule ^([^/]*).html$ ?mod=$1 [L,QSA]