
# Options +FollowSymlinks
RewriteEngine on
RewriteBase /

# if requested URL is NOT a existing file
RewriteCond %{REQUEST_FILENAME} !-f [OR]
# or if requested URL is NOT a directory
RewriteCond %{REQUEST_FILENAME} !-d

ErrorDocument 404 /


############################### DEFAULT REWRITING: #######################################
# 
# App:
# www.domain.tld/index.php?mod=module_name ==> www.domain.tld/module_name.html
RewriteRule ^([a-z_]*).html$ index.php?mod=$1 [L,QSA]
# www.domain.tld/index.php?mod=module_name ==> www.domain.tld/module_name/
RewriteRule ^([a-z_]*)/$ index.php?mod=$1 [L,QSA]
#
# Standalone module:
# www.domain.tld/index.php?render=json&mod=module_name ==> www.domain.tld/json/module_name.html
RewriteRule ^([a-z_]*)/([a-z_]*).html$ index.php?render=$1&mod=$2 [L,QSA]
# www.domain.tld/index.php?render=json&mod=module_name ==> www.domain.tld/json/module_name/
RewriteRule ^([a-z_]*)/([a-z_]*)/$ index.php?render=$1&mod=$2 [L,QSA]
#
# Task:
# www.domain.tld/index.php?render=json&mod=module_name&task=task_name ==> www.domain.tld/json/module_name/task_name/
RewriteRule ^([a-z_]*)/([a-z_]*)/([A-Za-z_]*)/$ index.php?render=$1&mod=$2&task=$3 [L,QSA]


############################# ADD YOUR RULES BELOW: #######################################

################################## EXAMPLE 1 ##############################################
# 1. Render a limited list of customers:
# 
# This example creates a module that contains a list of customers divided into pages (Pagination).  
# Therefore the start value and the number of data records are transferred with parameters.
#
# In the controller you would request the start and the amount parameters with RQ::GET(), 
# transform them to a string and inject that string as 4th argument (the limit: "0, 50")  
# into the read() method of the customers service.
#
# E.g. www.domain.tld/index.php?mod=module&srv=customers&start=0&amount=50 ==> www.your_domain.tld/module/customers/0/50/
#
#RewriteRule ^([a-z_]*)/(A-Z[a-z]*)/([0-9]+)/([0-9]+)/$ index.php?mod=$1&srv=$2&start=$3&amount=$4 [L,QSA]

################################## EXAMPLE 2 ##############################################
# 2. Render the details of a single customer:
# 
# This example creates a module that renders a single customer with a specific unique ID.
#
# In the controller you would request the parameter of the uid with RQ::GET() and inject it 
# as argument (the value: 33) into the getByUniqueId() method of the customers service.
#
# E.g. www.domain.tld/index.php?mod=module&srv=customers&uid=33 ==> www.your_domain.tld/module/customers/33/
#
#RewriteRule ^([a-z_]*)/([A-Za-z]*)/([0-9]+)/$ index.php?mod=$1&srv=$2&uid=$3 [L,QSA]


