
<!doctype html>
<html lang="##HTML_LANG##">
  <head>
    ##TITLE##
    ##CONF_METATAGS##
    ##CONF_CSS_FILES##
    ##CONF_JS_FILES_HEAD##
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/vendor/components/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/vendor/twbs/bootstrap/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Cookie manager -->
    <script src="/vendor/dahas/cookie_management/cookie_mgmt.js"></script>
    <script>
      var cookie = new Cookie("##COOKIE_NAME##", ##COOKIE_EXP##, "##COOKIE_PATH##");
    </script>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#"><img src="/resources/img/logo.svg" height="16" /> makeUp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        ##NAVIGATION##
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container" style="color: white;">
          <h1 class="display-4">##LANG_TITLE##</h1>
          <p>##LANG_SUBTITLE##</p>
          <p><a class="btn btn-primary btn-lg" href="https://github.com/dahas/makeup2/wiki" target="_blank" role="button">##LANG_WIKI_BUTTON##</a></p>
        </div>
      </div>

      ##MODULES##

    </main>

    <footer class="container">
      <p>&copy; Martin J. Wolf 2016-2018</p>
    </footer>

    ##CONF_JS_FILES_BODY##
  </body>
</html