<!DOCTYPE html>
<html lang="##HTML_LANG##">
    <head>
    
    ##CONF_METATAGS##

    ##TITLE##

    <!-- Bootstrap -->
    <link rel="stylesheet" href="vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/components/font-awesome/css/font-awesome.min.css">

    ##CONF_CSS_FILES##

    ##CONF_JS_FILES_HEAD##

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="makeup/app/res/js/html5shiv.min.js"></script>
    <script src="makeup/app/res/js/respond.min.js"></script>
    <![endif]-->
    
    </head>
    <body>
    
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">makeUp</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    ##NAVIGATION##
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    
    <div class="jumbotron">
        <div class="container theme-showcase" role="main">
        <img src="resources/img/logo.svg" style="width: 25%" class="pull-right"/>
        <h1 class="bold" style="font-size:90px;"><span style="color: #777;">make</span><span style="color: #999;">Up</span></h1>
        <p>##SUBTITLE##</p>
        </div>
    </div>
    
    ##CONTENT##
    
    <footer class="footer">
        <div class="container">
        <p class="text-muted">&copy; 2016 Martin J. Wolf</p>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="vendor/components/jquery/jquery.min.js"></script>
    <!-- Cookie handler -->
    <script src="vendor/dahas/cookie_management/cookie_mgmt.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>

    ##CONF_JS_FILES_BODY##
    
    </body>
</html>
