<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>makeup</h1>
    <p>A package for proper web development.</p>
</div>

<div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-12">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i
                    class="fa fa-chevron-left"></i></button>
        </p>
        <div class="row">
            <div class="col-xs-4 col-lg-4">
                <div class="page-header">
                    <h1>What is it?</h1>
                </div>
                <p>makeup is an easy to use PHP framework and a compilation of popular frontend libraries. It is a
                    package that includes almost everything you need to build awesome web applications from the ground
                    up.</p>
                <p><a class="btn btn-default" href="#" role="button">Read more ...</a></p>
            </div>
            <div class="col-xs-4 col-lg-4">
                <div class="page-header">
                    <h1>Requirements</h1>
                </div>
                <p>In order to get makeup to work, you need PHP 5.4 or above, a MySQL database and a local webserver. If
                    you have installed <b>Xampp</b> or something similar you are already set up.
                    Also you need <b>Git</b> and <b>Composer</b> available in your environment.</p>
                <p><a class="btn btn-default" href="#" role="button">Read more ...</a></p>
            </div>
            <div class="col-xs-4 col-lg-4">
                <div class="page-header">
                    <h1>Download</h1>
                </div>
                <p>Download makeup from <a href="https://github.com/dahas/makeup" target="_blank">GitHub</a>. Or make a
                    clone: <br/>
                <pre>$ git clone https://github.com/dahas/makeup.git</pre>
                </p>
            </div>
            <div class="col-xs-12 col-lg-12">
                <div class="page-header">
                    <h1>Get started</h1>
                </div>
                <p>
                <ol>
                    <li><a href="https://github.com/dahas/makeup" target="_blank">Download</a> and unpack the source
                        files into a folder within the document root of your webserver.
                    </li>
                    <li>Install dependent libraries<br/>
                        <pre>$ composer install</pre>
                    </li>
                    <li>
                        Create file index.php in root. Paste following code into it:
                        <pre>%CODE%</pre>
                    </li>
                    <li>
                        Launch app in your web browser.
                    </li>
                </ol>
                </p>
            </div>
        </div><!--/row-->
    </div>

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas hidden" id="sidebar">
        <div class="list-group">
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
        </div>
    </div><!--/.sidebar-offcanvas-->
</div>


<div class="page-header">
    <h1>Panels</h1>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div><!-- /.col-sm-4 -->
    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div><!-- /.col-sm-4 -->
    <div class="col-sm-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div><!-- /.col-sm-4 -->
</div>


<div class="page-header">
    <h1>Wells</h1>
</div>
<div class="well">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non
        magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque
        nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi
        erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</p>
</div>