<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container theme-showcase" role="main">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-xs-12 col-lg-8">
                    <div class="page-header">
                        <h1>Congratulation! :-)</h1>
                    </div>
                    <p>Your app is up and running. To take a quick look below the surface, check out the app folder and its content. 
                        Also visit the <b><a href="https://github.com/dahas/makeup/wiki" target="_blank">documentation wiki</a></b> 
                        and learn how to modify and extend your app.</p>
                </div>
            </div>
            <!--/row-->
        </div>
    </div>
</div>