<div class="row">
    <div class="col-xs-12 col-lg-8">
        <form name="register" class="form-signin" method="POST">
            <input type="hidden" name="token" value="[[TOKEN]]" />
            <label for="inputUser" class="sr-only">User name *</label>
            <input type="text" name="username" id="inputUser" class="form-control first" placeholder="User name (required)" required>
            <label for="inputPassword" class="sr-only">Password *</label>
            <input type="password" name="password" id="inputPassword" class="form-control last" placeholder="Password (required)" required>
            <button class="btn btn-warning me-2" onclick="submitForm('[[FORM_ACTION]]', 'register'); return false;">Register now</button>
        </form>
    </div>
</div>