<!-- {{SIGNIN}} -->
<form name="signin" class="form-inline mr-4" method="POST">
    <input type="hidden" name="token" value="[[TOKEN]]" />
    <input type="text" name="username" value="" class="form-control mr-2" style="width:110px;" placeholder="Username" aria-label="Username">
    <input type="password" name="password" value="" class="form-control mr-2" style="width:110px;" placeholder="Password" aria-label="Password">
    <button class="btn btn-warning mr-2" onclick="submitForm('[[FORM_ACTION]]', 'signin'); return false;">Sign in</button>
    <a href="[[REGISTER_LINK]]" class="btn btn-primary" type="submit">Register</a>
</form>
<!-- {{SIGNIN}} -->
<!-- {{SIGNOUT}} -->
<form name="signout" class="form-inline mr-4" method="POST">
    <input type="hidden" name="token" value="[[TOKEN]]" />
    <button class="btn btn-danger" onclick="submitForm('[[FORM_ACTION]]', 'signout'); return false;">Sign out</button>
</form>
<!-- {{SIGNOUT}} -->