<!-- {{SIGNIN}} -->
<div id="mod_authentication">
<form name="signin" class="form-inline mr-4" action="##FORM_ACTION##" method="POST">
    <input type="hidden" name="token" value="##TOKEN##" />
    <input class="form-control mr-2" style="width:110px;" placeholder="Username" aria-label="Username">
    <input class="form-control mr-2" style="width:110px;" placeholder="Password" aria-label="Password">
    <button class="btn btn-warning mr-2" type="submit">Sign in</button>
    <a href="##REGISTER_LINK##" class="btn btn-primary" type="submit">Register</a>
</form>
</div>
<!-- {{SIGNIN}} -->
<!-- {{SIGNOUT}} -->
<div id="mod_authentication">
<form name="signout" class="form-inline mr-4" action="##FORM_ACTION##" method="POST">
    <input type="hidden" name="token" value="##TOKEN##" />
    <button class="btn btn-danger" type="submit">Sign out</button>
</form>
</div>
<!-- {{SIGNOUT}} -->