<ul class="dropdown-menu">
    <!-- ##SUBMENU_NO_SUB## --><li><a href="##LINK##">##TEXT##</a></li><!-- ##SUBMENU_NO_SUB## -->
    <!-- ##SUBMENU_HAS_SUB## --><li class="dropdown-submenu multi-level"><a href="##LINK##" class="dropdown-toggle" style="pointer-events: none;" data-toggle="dropdown">##TEXT##</a>##SUBMENU##</li><!-- ##SUBMENU_HAS_SUB## -->
    <!-- ##SEPARATOR## --><li role="separator" class="divider"></li><!-- ##SEPARATOR## -->
    <!-- ##HEADER## --><li class="dropdown-header">##TEXT##</li><!-- ##HEADER## -->
</ul>
